/*Hoja de estilo para la práctica
Jose Luis Hervas Crucras
DAW2
*/


/*para importar fuentes*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* revisar porque no entra todo en la caja del body.*/

body {
    width: 1200px;
    height: 500px;
    margin: 0px auto;
    /*margin 0 auto, para que se quede todo el body centrado.*/
}

.logo {
    width: 590px;
    height: 150px;
    margin-right: 10px;
    float: left;
}

hr {
    width: 100%;
}


/*para quitar los puntitos de las listas*/

ul {
    list-style-type: none;
}

a {
    /*no se subrayan los enlaces*/
    text-decoration: none;
    /*para que los enlaces salgan redondeados*/
    border-radius: 8px 8px 8px 8px;
}


/* log in  y sign up*/

#reg {
    display: inline;
    width: 600px;
    font-family: sans-serif;
}


/* Para el link hay que poner un espacio*/

#reg a {
    width: 75px;
}

.registro a {
    float: right;
    text-align: right;
    color: black;
}


/* cuando se pasa el raton por encima del link se pone negrita*/

.registro a:hover {
    font-weight: bold;
}


/*about, projects, people etc ... */

#menu_pestañas {
    float: right;
    width: 590px;
    height: 45px;
    margin-top: 60px;
}

li.m1 {
    display: inline;
}

.m1 a {
    background: rgba(199, 196, 196, 0.483);
    float: right;
    margin: 1px;
    font-family: sans-serif;
    color: grey;
    font-weight: bold;
    width: 80px;
    text-align: center;
    font-size: 20px;
}


/*Subtitulo drumbeat learning, freedom etc ...*/

#subtitulo {
    width: 1200px;
    float: left;
    font-family: 'PT Sans';
    clear: left;
    color: rgb(5, 126, 140);
}


/* Pestañas Festival, program, participants etc ... */

#navegacion_secundaria {
    clear: left;
    float: left;
    width: 690px;
    height: 40px;
    margin-right: 10px;
    font-family: 'PT Sans';
    color: grey;
    position: relative;
}

li.m2 {
    display: inline;
}

.m2 a {
    float: left;
    padding: 8px;
    margin-right: 3px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    background: #F2F2F2;
    border-radius: 10px 10px 0 0;
    /* asi ponemos el borde superior redondeados*/
}


/*para cuando pase por la pestaña, que salga negrita*/

.m2 a:hover {
    color: black;
    font-weight: bold;
}

#menu_idioma {
    float: right;
    width: 490px;
    height: 35px;
    font-family: 'PT Sans';
    font-size: 15px;
    padding: 0px 0px 5px 0px;
    margin-bottom: 5px;
    position: relative;
}

.idioma {
    float: left;
    text-align: right;
    padding: 0px 0px 0px 350px;
}

li.m3 {
    display: inline;
}

.m3 a {
    float: right;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    background: #F2F2F2;
}

.m3 a:hover {
    color: black;
    background: gray;
    /*efecto sombra al pasar por encima*/
    box-shadow: inset -2px 2px 4px 2px rgb(200, 200, 200);
}

.m3 a:active {
    color: black;
    background: gray;
}


/*identificadores de cada idioma*/

#ca {
    border-radius: 0px;
}

#en {
    border-radius: 15px 0px 0px 15px;
    padding-left: 5px;
}

#es {
    border-radius: 0px 15px 15px 0px;
}


/*es la linea que hay debajo del menu de las pestañas y el idioma*/

.linea {
    clear: both;
    /*limpio el float de los elementos de arriba*/
    border: 2px solid #F2F2F2;
    /* copio el mismo color que el fondo de las pestañas*/
    background-color: #F2F2F2;
    width: 1190px;
    padding: 1px;
}


/* para poder meter bien los dos articulos de abajo, hay que hacer un poco mas pequeña la foto.*/

.imagen_tiendasCampañas {
    height: 125px;
}

#program {
    font-family: sans-serif;
    color: rgb(0, 188, 209);
}

section {
    width: 890px;
    float: left;
    margin-right: 10px;
}

.imagen_tiendasCampañas {
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-top: 0px;
}

.textoPrograma {
    color: black;
}

#whatsAbout {
    width: 490px;
    margin-right: 10px;
    float: left;
    font-family: 'Times New Roman';
}

a:hover .whatsAbout {
    color: rgb(5, 126, 140);
}

#schedule {
    width: 390px;
    float: right;
}

.program {
    width: 890px;
    float: left;
}

#festival {
    clear: both;
    width: 890px;
}

#espacio_festival {
    clear: left;
    float: left;
    width: 890px;
}

h2 {
    color: rgb(5, 126, 140);
    font-family: sans-serif;
}

aside {
    width: 300px;
    float: right;
    height: 800px;
}

#cuadro_registro {
    background: #7db9f1;
    text-align: center;
    height: 100px;
    border-radius: 5px;
    width: 300px;
}

a.boton_verde_register {
    float: left;
    background: #3faa09;
    font-size: 25px;
    font-family: Georgia;
    font-weight: bold;
    color: white;
    padding: 10px 80px;
    margin: 15px 15px;
}

.letra_pequeña {
    text-align: center;
    font-family: 'Times New Roman';
}

.cuadro_gris_lista {
    font-family: 'PT Sans';
    background: rgb(235, 235, 235);
    font-size: 12px;
    height: 470px;
    border-radius: 15px;
}


/* esto es para ajustar los iconos a la izquierda*/

.lista_imagenes {
    padding: 20px 0px 20px 10px;
}

.lista_imagenes img {
    float: left;
    width: 50px;
    margin: 0px 10px 7px 0px;
}

.lista_imagenes li {
    float: right;
    margin: 0px 10px 20px 0px;
}