/*práctica Drumbeat Post it's
Jose Luis Hervas Crucras
DAW2
Navegador ustilizado Google Chrome
Pantalla de 22" resolucion 1680x1050
Pantalla de 17" resolucion 1920x1080

Los tamaños han sido calculados con la rejilla
El tamaño de la letra ha variado para que cupiese todo mas o menos como en la foto
Algunos tamaños de fotos, han sido tambien calculados a ojo para que fueran similares a la foto
Los colores de las fuentes, han sido calculados tambien a ojo, para que fuesen similares

Para generar las sombras, he usado esta pagina https://www.cssmatic.com/es/box-shadow
Lo bueno de esta pagina, que te pone compatibilidades con otros navegadores, pero he visto más limpio
el usar solo box shadow sin necesidad de añadir más lineas de codigo.
Luego, a la hora de girar y elegir el color, intensidad de sombras han sido calculadas a ojo para que 
se parezcan los más posible.
*/


/*para importar fuentes*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    width: 1200px;
    margin: 0px auto;
    /*margin 0 auto, para que se quede todo el body centrado.*/
}

.logo {
    width: 590px;
    height: 150px;
    margin-right: 10px;
    float: left;
}


/*esto ha sido para la linea del menu de pestañas*/

hr {
    width: 100%;
}


/*para quitar los puntitos de las listas*/

ul {
    list-style-type: none;
}

a {
    /*no se subrayan los enlaces*/
    text-decoration: none;
}


/* log in  y sign up*/

#reg {
    display: inline;
    width: 600px;
    font-family: sans-serif;
}


/* Para el link hay que poner un espacio*/

#reg a {
    width: 75px;
}

.registro a {
    float: right;
    text-align: right;
    color: black;
}


/* cuando se pasa el raton por encima del link se pone negrita y asi sabes que estas en ese enlace*/

.registro a:hover {
    font-weight: bold;
}


/*about, projects, people etc ... */

#menu_pestañas {
    float: right;
    width: 590px;
    height: 45px;
    margin-top: 60px;
}

li.m1 {
    display: inline;
}

.m1 a {
    background: rgba(199, 196, 196, 0.483);
    float: right;
    border-radius: 5px;
    margin: 1px;
    font-family: sans-serif;
    color: grey;
    font-weight: bold;
    width: 80px;
    text-align: center;
    font-size: 18px;
}


/*Subtitulo drumbeat learning, freedom etc ...*/

#subtitulo {
    width: 1200px;
    float: left;
    font-family: 'PT Sans';
    clear: left;
    color: rgb(5, 126, 140);
}


/* Pestañas Festival, program, participants etc ... */

#navegacion_secundaria {
    clear: left;
    float: left;
    width: 690px;
    height: 40px;
    margin-right: 10px;
    font-family: 'PT Sans';
    color: grey;
    position: relative;
}

li.m2 {
    display: inline;
}

.m2 a {
    float: left;
    padding: 8px;
    margin-right: 3px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    background: #F2F2F2;
    border-radius: 10px 10px 0 0;
    /* asi ponemos el borde superior redondeados*/
}


/*para cuando pase por la pestaña, que salga negrita*/

.m2 a:hover {
    color: black;
    font-weight: bold;
}

#menu_idioma {
    float: right;
    width: 490px;
    height: 35px;
    font-family: 'PT Sans';
    font-size: 15px;
    padding: 0px 0px 5px 0px;
    margin-bottom: 5px;
    position: relative;
}

.idioma {
    float: left;
    text-align: right;
    padding: 0px 0px 0px 350px;
}

li.m3 {
    display: inline;
}

.m3 a {
    float: right;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    background: #F2F2F2;
}


/*identificadores de cada idioma*/


/*no se como poner ese borde interior que tiene los botones ni alargarlos tanto */

#va {
    border-radius: 0px;
}

#en {
    border-radius: 10px 0px 0px 10px;
    padding-left: 5px;
}

#es {
    border-radius: 0px 10px 10px 0px;
}


/*es la linea que hay debajo del menu de las pestañas y el idioma*/

.linea {
    clear: both;
    /*limpio el float de los elementos de arriba*/
    border: 2px solid #F2F2F2;
    /* copio el mismo color que el fondo de las pestañas*/
    background-color: #F2F2F2;
    width: 1190px;
    padding: 1px;
}


/* para poder meter bien los dos articulos de abajo, hay que hacer un poco mas pequeña la foto.*/

.imagen_tiendasCampañas {
    height: 125px;
}

#program {
    font-family: sans-serif;
    color: rgb(0, 188, 209);
}

section {
    width: 890px;
    float: left;
    margin-right: 10px;
}

.imagen_tiendasCampañas {
    float: right;
    width: 150px;
    margin-left: 5px;
    margin-top: 0px;
}

.textoPrograma {
    color: black;
}

#whatsAbout {
    width: 490px;
    margin-right: 10px;
    float: left;
    font-family: 'Times New Roman';
}

a:hover .whatsAbout {
    color: rgb(5, 126, 140);
}

#schedule {
    width: 390px;
    float: right;
}

.program {
    width: 890px;
    float: left;
}


/*se usa el clear both, para que no se quede con los margenes de cosas anteriores y que se mueva donde se tiene que mover*/

#festival {
    clear: both;
    width: 890px;
}

#espacio_festival {
    clear: left;
    float: left;
    width: 890px;
}

h1 {
    font-size: 30px;
    color: rgb(79, 202, 216);
    font-family: sans-serif;
}

h2 {
    color: rgb(5, 126, 140);
    font-family: sans-serif;
}

aside {
    width: 300px;
    float: right;
    height: 1200px;
}

#cuadro_registro {
    background: #7db9f1;
    text-align: center;
    height: 100px;
    border-radius: 10px;
    width: 300px;
}

a.boton_verde_register {
    width: 100px;
    float: left;
    background: #3faa09;
    font-size: 30px;
    font-family: Georgia;
    font-weight: bold;
    color: white;
    padding: 10px 85px;
    margin: 5px 10px;
    border-radius: 5px;
}

.letra_pequeña {
    text-align: center;
    font-family: 'Times New Roman';
}

.cuadro_gris_lista {
    font-family: 'PT Sans';
    background: rgb(235, 235, 235);
    font-size: 12px;
    height: 470px;
    border-radius: 15px;
}


/* esto es para ajustar los iconos a la izquierda*/


/* he ido probando los numeros hasta que han encajado*/

.lista_imagenes {
    padding: 20px 0px 20px 10px;
}

.lista_imagenes img {
    float: left;
    width: 50px;
    margin: 0px 10px 5px 0px;
}

.lista_imagenes li {
    float: right;
    margin: 0px 10px 20px 0px;
}

.cuadro_amarillo {
    background-color: rgb(255, 253, 153);
    /* aqui modifico los maragenes para el texto que hay dentro*/
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 15px 0 10px 0;
    /*creo la sombra del cuadro con transparencia*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.411);
    /*giro el cuadro a la derecha*/
    transform: rotate(1deg);
}

.titulo {
    font-family: Georgia;
    color: rgb(185, 0, 0);
    font-size: 30px;
}

.lista_check {
    font-family: 'PT Sans';
    margin-left: -30px;
    margin-right: 15px;
}

#share_twitter {
    margin-top: 80px;
}

#share_on_identica {
    background: #5593ac;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#twitter {
    background: #00a6e2;
    margin-left: 30px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#share_on_identica {
    width: 250px;
    height: 50px;
    margin: 5px 25px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

#twitter {
    width: 250px;
    height: 50px;
    margin: 5px 25px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.icono_identica {
    float: left;
    margin: 5px 0px 5px 15px;
}

.icono_twitter {
    float: left;
    margin: 5px 0px 5px 15px;
}

.texto {
    padding: 15px;
    font-size: 17px;
}

.texto a {
    color: white;
    text-shadow: 1px 2px rgb(0, 0, 0);
}


/*todas las cajas tienen el mismo tamaño y sombra, así que haré una configuracion general para eso*/

.post {
    float: left;
    width: 265px;
    height: 175px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
    margin: 17px;
}


/* pintamos todas las preciosas cajitas */


/*rosa*/

#post1,
#post5,
#post9 {
    background: rgb(255, 214, 214);
}


/*verde*/

#post2,
#post6,
#post10 {
    background: rgb(200, 255, 183);
}


/*amarillo*/

#post3,
#post7 {
    background: rgb(255, 254, 183);
}


/*azul*/

#post4,
#post8 {
    background: rgb(174, 182, 255);
}


/*ahora vamos a dar fotmato al texto de los pots'it*/

.post h4 {
    margin-top: 10px;
    font-family: 'PT Sans';
    padding-left: 20px;
    font-size: 20px;
}

.post p {
    padding-left: 10px;
    font-family: 'Times New Roman';
    font-size: 18px;
}


/*giramos los post'it a la izquierda en negativo*/

#post1,
#post3,
#post7,
#post9 {
    transform: rotate(-1.5deg);
}


/*giramos los post'it a la derecha en positivo*/

#post5,
#post10 {
    transform: rotate(3deg);
}