/*asi no mostramos la cabecera, pie de pagina ni menus de navegacion ni el aside de la derecha*/
header, footer, nav, aside {
    display: none;

  }

/*mostramos los links para que se puedan imprimir*/
a[href]:before {
    content: " (" attr(href) ")";
}   

body {
    font-size: 12pt;
    font: serif;
    
    }

